
body {
    font-family: 'Arial', sans-serif; /* Replace 'Arial' with the desired professional font or use a Google Font */
  }

.login-register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-image: url("https://wallpapercave.com/wp/wp9764081.jpg");
  }
  
  .tab-container {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 400px;
    margin-bottom: 20px;
  }
  
  .tab {
    flex: 1;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    user-select: none; 
  }
  
  .tab:hover {
    background-color: #f4f4f4;
  }
  
  .tab.active {
    background-color: #ddd;
  }
  
  .login,
  .register {
    width: 100%;
    display: none;
  }
  
  .login.active,
  .register.active {
    display: flex; 
    flex-direction: column;
  }
  
  .form-container {
    padding: 20px;
    /* border: 1px solid #ddd;
    border-radius: 8px; */
    margin-bottom: 20px;
    width: 350px;
    margin-right: 50px;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .form-container {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .login-register Form{
    width: 350px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .login-register Form .form-control {
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    transition: border-color 0.3s;
  }
  
  Form.Control:focus {
    border-color: #4caf50;
  }
  
  
  Form.Control[type="text"]::before,
  Form.Control[type="password"]::before {
    content: "\1F511"; 
    position: relative;
    left: -25px; 
    font-size: 16px; 
    color: #888; 
  }
  
 
  .btn-login {
    width: 200px;
    margin-top: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-login:hover {
    background-color: #45a049;
  }
  
  
  .forgot-password {
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: #4caf50;
    font-weight: bold;
    display: block;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  